.d-inline-block.me-4.text-secondary= "#{resource.class.to_s}:"
.d-inline-block.me-4= resource.title.truncate(40)
.d-inline-block.me-4= resource.body.truncate(40)
.text-sm-start
  = link_to 'Show', resource, class: 'btn btn-warning btn-sm'