.value
  = resource.rating_value
/ - unless !user_signed_in? || current_user&.is_author?(resource)
- if current_user && can?(:vote, resource)
  = link_to 'Cancel vote', polymorphic_path(resource, action: :cancel_vote),
          method: :delete,
          remote: true,
          data: { type: :json },
          class: 'cancel-vote-link',
          style: "#{current_user&.voted?(resource) ? '' : 'display:none;'}"
  = link_to 'UP', polymorphic_path(resource, action: :vote_up),
          method: :patch,
          remote: true,
          data: { type: :json },
          class: 'vote-up-link',
          style: "#{current_user&.voted?(resource) ? 'display:none;' : ''}"
  = link_to 'DOWN', polymorphic_path(resource, action: :vote_down),
          method: :patch,
          remote: true,
          data: { type: :json },
          class: 'vote-down-link',
          style: "#{current_user&.voted?(resource) ? 'display:none;' : ''}"