$('.answer-errors').html('<%= render 'shared/errors', resource: @answer %>');
$('.flash-messages').html('<%= render 'shared/flash_messages' %>');

<% if @answer.persisted? %>
  <% if @question.answers.count > 1 %>
    $('.answers table tbody').append('<%= j render @answer %>');
  <% else %>
    $('.answers').html('<table class="table text-center"><thead class="thead">' +
                  '<tr><th>Rating</th><th>Answer</th><th>Files and links</th><th colspan=4>Actions</th></tr><thead>' +
                  '<tbody><%= j render @answer %></tbody></table>');
  <% end %>
  $('.new-answer #answer_body').val('');
<% end %>